extends layout 

block content
  h1 PASTEBIN
  div(class="topnav")
    a(class="active", href='/') Home
    a(href='/Paste') Paste         
    a(href='/Paste/list') Public Pastes 
  hr
  p
    | Pastebin is a website that allows users to share plain text through public posts called “pastes.” The site currently has 17 million unique monthly users. Why is it so popular, and where did it come from?
    | are many similar web applications, known as “paste sites,” that have developed since the original Pastebin was launched in 2002. The need for Pastebin rose out of user activity on the Internet Relay Chat (IRC). IRC is an instant messaging application launched in 1988. It’s designed for a large user base to communicate in real-time, and is popular for sharing plain text, including blocks of source code.