extends layout

block content
  h1 Pastebin 
  div(class="topnav")
    a(href='/') Home
    a(class="active", href='/Paste') Paste         
    a(href='/Paste/list') Public Pastes 
  hr
  form#useform(action="/Paste" method="post")
    input(type="submit" value="Save text")
    br
  input#nameinput(input='text', form="useform", name="myname", placeholder="Enter your name")
  hr
  textarea#inputarea(rows = '20', cols ='100',name = "mytext" form = "useform", placeholder="Enter text here")
  

  
