extends layout 

block content
    h1 Pastes
    div(class="topnav")
        a(href='/') Home
        a(href='/Paste') Paste         
        a(class="active", href='/Paste/list') Public Pastes 
    hr
    br
    ul  
        each val in results 
            h4= val.name  
            li= val.text_entries
            hr
             